*{
        padding: 0px;
        margin: 0px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;

    }
    
    .products{
        display: flex;
        justify-content: space-between;
    }


    .content{
    flex-wrap: wrap;
    display: flex;
    /* padding: 1% 2% 1% 2%; */
 
}

 .container{
    padding-left: 1rem;
    padding-right: 1rem;
} 


.right{
           width: 25%;
           padding: 10px;   
           height: auto;
           background-color: white;
           box-shadow: 2px 1px 2px rgb(219, 219, 219) , 0 0 25px rgb(219, 219, 219), 0 0 5px rgb(219, 219, 219);
       }
          
   
      
         
   
       .text{
            font-size: 35px;
            text-align: center;
            margin-bottom: 20px;
        }
   
           #about {
               font-size: 1em;
               line-height: 40px;
               margin-bottom: 10px;
               
           }
           #about a{
               text-decoration: none;
               padding: 10px;
               background-color: white;
           }



.ramka {
    height: 320px;
    width: 320px;
    border-radius: 5px;
    background-color: white;
    margin: 0 50px 20px 0;
    padding-top: 0px;
    box-shadow: 2px 1px 2px rgb(175, 166, 166) , 0 0 25px rgb(175, 166, 166), 0 0 5px rgb(175, 166, 166);
}



.imeg1 img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
    background-blend-mode: multiply;
    border-radius: 5px;
    /* padding-top: 10px; */
    
}
.imeg1:hover{
    box-shadow: 2px 1px 2px rgb(175, 166, 166) , 0 0 25px rgb(175, 166, 166), 0 0 5px rgb(175, 166, 166);
    
}

/* 
@media screen and (max-width: 600px) {
    .ramka{
        background-color: red;
        height: 250px;
        width: 250px;
    }
    
    .imeg1 img{
        width: 100%;
        height: 150px;
     
        
    }

  } */
     /* padding-top: 10px; */

.text__product{
    display: flex;
    
    font-size: 25px;
/* background-color: red; */

}

.text__one{
    width: 75%;
    padding: 10px;
    text-align: center;
}

.text__two{
    width: 25%;
    padding: 10px;
    text-align: center;
}

h2{
    text-align: center;
}

.left{
    width: 100%;
    
}
.ramka1 {
    height: 90px;
    width: 120px;
    background-color: white;
    
    
    /* box-shadow: 2px 1px 2px rgb(219, 219, 219) , 0 0 25px rgb(219, 219, 219), 0 0 5px rgb(219, 219, 219); */
}
.imeg2 img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 60px;
    background-blend-mode: multiply;
    border-radius: 5px;
    
}

/* .ramka1 > img{
    margin: 0 auto;
} */

.btn{
    margin-left: 10px;
    
    padding: 2px;
    padding: 5px;
    width: 100px;
    background-color: #ffff;
    border-radius: 50px;
    border: 1px solid ;
    margin-top: 5px;
    transition: 0.5s;
    
}

.btn:hover{
    background-color: black;
    color: #ffff;
    box-shadow: 4px 2px 5px rgb(219, 219, 219) , 0 0 25px rgb(219, 219, 219), 0 0 5px rgb(219, 219, 219);
    
}


.price{
    font-size: 0.8em;
    margin-left: 10px;
    margin-top: 5px;
}

.text{
    margin-top: 5px;
}
.title{
    font-size: 0.8em;
    margin-left: 10px;
    margin-top: 5px;

}

.abouts{
    width: 230px;
    height: 60px;
}

.buton{

    float: right;
    margin-right: 10px;
    height: 30px;
    width: 70px;
    padding: 2px;
    padding: 5px;
    background-color: #ffff;
    border-radius: 50px;
    border: 1px solid ;
    margin-top: 5px;
    transition: 0.5s;
   
    
}

.buton:hover{
    background-color: black;
    color: #ffff;
    box-shadow: 4px 2px 5px rgb(219, 219, 219) , 0 0 25px rgb(219, 219, 219), 0 0 5px rgb(219, 219, 219);
    
}
.ramkaAll{
    display: flex;
}
/* ---------------------------------------------- */
.small-cart{
    max-height: 100px;
    max-width: 285px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    margin: 10px;
    /* background-color: rgb(201, 198, 198); */
    color: rgb(46, 45, 45);
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    font-weight: 500;
}

.jpeg{
    width: auto;
    height: 70px;
    margin: 10px;
}
.cart-content{
    font-size: 12px;
}
.delete{
    width: 60px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.1s;
    background-color: rgb(175, 158, 6);
    border: 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px black;
    color: white;
    margin: 10px;
}

.total{
    width: 260px;
    position: fixed;
    background-color: rgb(158, 158, 65);
    padding: 10px;
    border-radius: 5px;
}

